
@{
  Layout = "~/Views/Shared/_dss.cshtml";
  ViewBag.Title = "DSS";
}

<div id=app>
</div>
<script type="text/javascript" src="~/Scripts/bundle/static/js/manifest.js"></script>
<script type="text/javascript" src="~/Scripts/bundle/static/js/vendor.js"></script>
<script type="text/javascript" src="~/Scripts/bundle/static/js/app.js"></script>


