﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - DSS</title>
  <link href="~/Scripts/bundle/static/css/app.css" rel="stylesheet">
</head>
<body>
  <noscript>
    <strong>We're sorry but vueapp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  @RenderBody()
  @RenderSection("scripts", required: false)
</body>
</html>
